<div class="text-center pb-4">
  <div id="carouselControl" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div
        *ngFor="let image of images; let firstChild = first"
        class="carousel-item"
        [ngClass]="{ active: firstChild }"
      >
        <img src="{{ image }}" class="d-block w-100" alt="issue-image" />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselControl"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselControl"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
