<app-navbar pageName="Issue Details"></app-navbar>
<div class="container w-75 p-5">
  <!-- Spinner -->
  <div *ngIf="loadingIssue; else issueComponent">
    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>

  <ng-template #issueComponent>
    <!-- Issue component -->
    <div *ngIf="issue; else issueNotFound">
      <div class="fs-3 pb-3">
        {{ issue.title }}
      </div>

      <!-- Carousel -->
      <app-carousel [images]="issue.images"></app-carousel>

      <!-- Description -->
      <div class="pb-3">
        <h5>Description</h5>
        <p class="text-muted">
          {{ issue.description }}
        </p>
      </div>

      <div class="row">
        <!-- Comments -->
        <div class="col-md-6">
          <h5>Comments</h5>
          <div class="comments">
            <div *ngIf="loadingComments; else commentsComponent">
              <!-- Spinner -->
              <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
            </div>

            <ng-template #commentsComponent>
              <div *ngIf="comments.length != 0; else noComments">
                <div *ngFor="let comment of comments">
                  <app-comment [comment]="comment"></app-comment>
                </div>
              </div>
              <ng-template #noComments>
                <div class="text-muted">No comments...</div>
              </ng-template>
            </ng-template>
            <app-comment-box
              [issueId]="issue._id"
              (onCommentPost)="commentPosted($event)"
            ></app-comment-box>
          </div>
        </div>

        <div class="col-1 d-flex justify-content-center py-3">
          <span class="border-start border-2 align-middle"></span>
        </div>

        <!-- Solutions -->
        <div class="col-md-5">
          <h5>Solutions</h5>
          <div class="comments">
            <div *ngFor="let solution of solutions; let last = last">
              <app-solution [solution]="solution"></app-solution>
            </div>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Post your solution"
              />
              <button class="btn btn-secondary" type="button">Post</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-template #issueNotFound>
      <h1>Issue not found!</h1>
    </ng-template>
  </ng-template>
</div>

<!-- FIXME: shift the input box to bottom of column -->
