<app-navbar pageName="Issue Details"></app-navbar>
<div class="container w-75 p-5">
  <div *ngIf="issue; else issueNotFound">
    <div class="fs-3 pb-3">
      {{ issue.title }}
    </div>
    <app-carousel [images]="issue.images"></app-carousel>
    <div class="pb-3">
      <h5>Description</h5>
      <p class="text-muted">
        {{ issue.description }}
      </p>
    </div>
  </div>

  <ng-template #issueNotFound>
    <h1>Issue not found!</h1>
  </ng-template>

  <div class="row">
    <div class="col-md-6">
      <h5>Comments</h5>
      <div class="comments">
        <div *ngFor="let comment of issue?.comments; let last = last">
          <app-comment [comment]="comment"></app-comment>
        </div>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Post your comment"
          />
          <button class="btn btn-secondary" type="button">Post</button>
        </div>
      </div>
    </div>
    <div class="col-1 d-flex justify-content-center py-3">
      <span class="border-start border-2 align-middle"></span>
    </div>

    <div class="col-md-5">
      <h5>Solutions</h5>
      <div class="comments">
        <div *ngFor="let solution of issue?.solutions; let last = last">
          <app-solution [solution]="solution"></app-solution>
        </div>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Post your solution"
          />
          <button class="btn btn-secondary" type="button">Post</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- FIXME: shift the input box to bottom of column -->
